.react-bootstrap-table {
  font-size: 13px;
  /* background-color: black; */
  /* color: white; */
}

body {
  background: #17171a !important;
  margin: 0 auto;
  padding: 0 auto;
  /* overflow-x: hidden !important; */
}

.users-heading {
  text-align: center;
  text-decoration: underline;
  color: red;
  font-size: 12px !important;
  font-weight: bold !important;
}



.button-type {
  width: 83px;
  font-size: 12px;
  background-color: #E1180e;
  color: white;
}

.sr-only {
  display: none;
}

.text-filter {
  height: 23px !important;
  font-size: 9px !important;
}

.field-design {
  width: 190px !important;
  padding: 5px 0px !important;
  margin: -5px auto !important;
  font-weight: 400 !important;
  border-radius: 4px !important;
  appearance: none;
}

.dropdown-menu.show {
  top: -36px !important;
  left: -3px !important;
}

.result-not-found {
  margin-top: 15% !important;
  font-size: 20px;
  text-decoration: underline grey;
  font-weight: bold;
  color: #E1180e;
}

.attendance-count {
  margin-top: -10px !important;
  /* float: left !important; */
  font-size: 15px !important;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  color: #726868 !important;

}

.btn-sm {
  font-size: 9px !important;
}

.attendance-submit {
  margin-top: 8px !important;
}

/* .react-bootstrap-table table {

  color: white !important;
} */

.anchor-bottom {
  border-bottom: 3px solid #e88710 !important;
}

tr {
  text-align: center !important;
  color: grey !important;
}

th {
  color: grey !important;
  margin-bottom: 10px !important;

}

td {
  color: whitesmoke !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.Symbol {
  color: grey !important;
}

.navbar-nav a {
  color: silver !important;
  font-weight: bold;
  font-size: 16px;
  /* margin-left: 10px; */
  letter-spacing: 3px;
}

.react-bootstrap-table-pagination-total {
  color: whitesmoke !important;
}

.pagination, .react-bootstrap-table-page-btns-ul {
  display: none !important;
}

.Coins-images {
  text-align: left;
  margin-left: 40px !important;
}

.filter-label {
  margin-top: 5px !important;
}

#pageDropDown {
  width: 59px !important;
  height: 34px !important;
}

#pageDropDown{
  padding: 4px !important;

}